@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

.container {
    width: 590px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 5rem;
}

.header {
    padding: 15px;
    color: #ffa500;
    background-color: #0000ff;
    border-radius: 0.5rem;
    margin-bottom: 10px;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.title i {
    font-size: 24px;
    margin-right: 10px;
}

.description {
    font-size: 13px;
}

.card {
    background-color: #ffa500;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-control {
    width: 100%;
    display: block;
    font-size: 1rem;
    border-radius: 0.3rem;
    margin-bottom: 10px;
    padding: 0.5rem;
}

::placeholder {
    color: #0000ff;
    font-size: 13px;
}

.text-right {
    text-align: right;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    color: #ffa500;
    background-color: #0000ff;
}

.task-item {
    display: flex;
    justify-content: space-between;
}

.edit-task {
    color: green;
    font-size: 20px;
}

.delete-task {
    color: red;
    font-size: 20px;
}

.done {
    text-decoration: line-through;
    color: #ccc;
}

